html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

#main {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
}

img {
    height: 42px;
    width: auto;
    padding-top: 10px;
}