.content { /* This is to create a "sticky" footer effect where the footer is always at the bottom of the screen. (Footer is 200px in height) */
    min-height: calc(100vh - 170px);
    padding: 50px !important;
}

.footer1 {
    color: white;
    background-color: black;
    margin-top: 20px;
    height: 80px;
    padding-top: 35px;
}

.footer2 {
    background-image: linear-gradient(black,rgb(75, 75, 75));
    height: 100px
}