<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Title Bot</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    </head>
    <body>
        <div id="main">
            <div id="app"></div>
        </div>
        <div>hello whats good</div>
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>